# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
xaitrade/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Environment
.env

# Logs
*.log
logs/
app/logs/


# Docker
.dockerignore

# IDE and OS
.vscode/
.idea/
*.DS_Store

# Dev-only
requirements-dev.txt

# Ignore specific backup and utility scripts
database/ac.py
database/predictbackup.py
database/stockbackup.py